<!DOCTYPE html>
<html>

  <head>
    <title>
      <% TITLE %>
    </title>
    <link rel="icon" type="image/png" href="https://lfgg.jcink.net/uploads/lfgg/icon.png">

    <meta property="og:title" content="<!-- |board_name| -->" />
    <meta property="og:description"
          content="<% TITLE %>" />
    <meta property="og:image" content="https://lfgg.jcink.net/uploads/lfgg/icon.png" />

    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400i,800">

    <% CSS %>
    <% JAVASCRIPT %>
    <!-- EXTRASCRIPT -->
  </head>

  <body>
    <div id="logo">
      <a href="index.php">
        <{LOGO}>
      </a>
    </div>
    <div id="wrapper">
      <% BOARD HEADER %>
      <div id="innerwrapper">
        <div id="navi">
          <% NAVIGATION %>
        </div>
        <% BOARD %>
        <div id="skin_selector">
          <% SKIN_SELECTOR %>
        </div>
      </div>
    </div>
    <% COPYRIGHT %>
    <div class="copyright-sequel">
      Logo by <a href="https://keithpickering.github.io/">Spritanium</a>. We make use of <a href="https://github.com/twitter/twemoji">Twemoji</a>
      and <a href="https://fontawesome.com/">Font Awesome</a>.
    </div>
  </body>

</html>
